page-home {
  height: 100%;
}
.quote-container{
  height: 100%;
  display: block;
  // background-color: blue;
}

.quote-text{
  color: white;
  background-color: inherit;
  // margin-top: 40%;
  text-align: center;
}
